<div *ngIf="loading">LOADING...</div>
<div *ngIf="!loading" class="mt-2 mx-2">
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    <ng-container *ngIf="state==StateEnum.fullUsersListRequested">
        <div class="grid grid-rows-2 grid-cols-3 gap-4 justify-items-center">
            <div class="inline-flex row-start-1 col-start-2">
                <button class="bg-buff hover:bg-air_force_blue text-white font-bold rounded py-2 px-4"
                    (click)="state=StateEnum.noUserRequestedCausePost">
                    Add User
                </button>
            </div>
            <div *ngIf="searchInputValue==''" id="tableControlPanel"
                class="justify-self-start my-2 ml-1 inline-flex row-start-2 col-start-1">
                <p class="mr-1">Displayed rows</p>
                <select class="h-6" size="1" [(ngModel)]="countOfRecords" id="countOfRecordsID">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
            </div>
            <div class="inline-flex my-2 ml-1 row-start-2 col-start-2">
                <input type="text" placeholder="Search from 3 symbols" class="h-6" [(ngModel)]="searchInputValue">
            </div>
        </div>
        <table class="border-separate border-spacing-y-3 bg-citron w-full shadow-md table-auto text-center">
            <th class="p-4">ID</th>
            <th class="p-4">Name</th>
            <th class="p-4">Surname</th>
            <th class="p-4">Age</th>
            <tr *ngFor="let item of loadedUsersArray | tableFilter : searchInputValue | slice : (page-1) * countOfRecords : page * countOfRecords"
                class="border border-slate-400  tracking-wider bg-earth_yellow">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.age}}</td>
                <button class="font-bold mx-1 my-1 py-2 px-4 bg-buff hover:bg-air_force_blue rounded"
                    (click)="getUserById(item.id)">
                    Edit
                </button>
                <button class="font-bold mx-1 my-1 py-2 px-4 bg-buff hover:bg-air_force_blue rounded"
                    (click)="deleteById(item.id);">
                    Delete
                </button>
            </tr>
        </table>
        <div *ngIf="loadedUsersArray.length>=countOfRecords && searchInputValue==''"
            class="flex order-2 ml-1/2 justify-end mt-1">
            <ngbd-pagination-advanced (pageChangeNotify)="getCurrentPage($event)" [pageSize]="countOfRecords"
                [collectionSize]="loadedUsersArray.length" [maxSize]="maxSize"></ngbd-pagination-advanced>
        </div>
    </ng-container>
    <ng-container *ngIf="state==StateEnum.oneOfUsersRequestedForPUT">
        <div class="flex justify-center mb-6">
            <form class="w-full max-w-lg bg-citron w-full p-4 rounded" #userPutForm="ngForm" (submit)="sendUser(user)">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-id">
                            ID
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-id" type="text" disabled value="{{user.id}}">
                    </div>
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name">
                            First Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name" type="text" [(ngModel)]="user.Name" #Name="ngModel"
                            placeholder="{{user.name}}">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                    <div class="w-full md:w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            Last Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-last-name" type="text" [(ngModel)]="user.Surname" #Surname="ngModel" name="Surname"
                            placeholder="{{user.surname}}">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-age">
                            Age
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-age" type="text" [(ngModel)]="user.Age" #Age="ngModel" name="Age"
                            placeholder="{{user.age}}">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                </div>
                <button type="submit"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">Save</button>
                <button
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    (click)="state=StateEnum.fullUsersListRequested">
                    Back
                </button>
            </form>
        </div>
    </ng-container>
    <ng-container *ngIf="state==StateEnum.noUserRequestedCausePost">
        <div class="flex justify-center mb-6">
            <form class="w-full max-w-lg bg-citron w-full p-4 rounded" #userPutForm="ngForm" (submit)="sendUser(user)">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-first-name">
                            First Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name" type="text" [(ngModel)]="user.Name" #Name="ngModel">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                    <div class="w-full md:w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-last-name">
                            Last Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-blue-500 hover:beaver border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-last-name" type="text" [(ngModel)]="user.Surname" #Surname="ngModel"
                            name="Surname">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for="grid-age">
                            Age
                        </label>
                        <input
                            class="appearance-none block w-full bg-blue-500 hover:beaver border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-age" type="text" [(ngModel)]="user.Age" #Age="ngModel" name="Age">
                        <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                    </div>
                </div>
                <button type="submit"
                    class="appearance-none block w-full bg-blue-500 hover:beaver border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">Save</button>
                <button
                    class="appearance-none block w-full bg-blue-500 hover:beaver border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    (click)="state=StateEnum.fullUsersListRequested">
                    Back
                </button>
            </form>
        </div>
    </ng-container>
</div>